body {
  font-family: 'Poppins', sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
}

.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*header section*/
/*.nav{
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url(../images/Black\ Gold\ Luxury\ Diamond\ Logo.svg);
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/Black\ Gold\ Luxury\ Diamond\ Logo.svg);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/Black\ Gold\ Luxury\ Diamond\ Logo.svg);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/Black\ Gold\ Luxury\ Diamond\ Logo.svg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/Black\ Gold\ Luxury\ Diamond\ Logo.svg);
  background-size: cover;
} */

.sub_page .nav{
  height: 100vh;
}

.header_section {
  padding: 15px 0;
  background-color: #0c0c0c;
}

.navbar-brand {
  margin: 0;
}

.navbar-brand span {
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 10px 25px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.custom_nav-container .navbar-nav .nav-item .nav-link span {
  margin-left: 5px;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link {
  color: #dfb15b;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #ffffff;
  margin: 0;
}

.custom_nav-container .nav_search-btn:hover {
  color: #dfb15b;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
       -o-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0;
  margin-bottom: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
  display: none;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0;
  margin-top: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}




/*end header section*/


.about_section .row {
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box img {
  width: 100%;
  border-radius: 15px;
}

.about_section .detail-box p {
  margin-top: 15px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #0c0c0c;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  border: 1px solid #0c0c0c;
  outline: none;
  margin-top: 15px;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: #0c0c0c ;
}



.expert_section .box .img-box {
  width: 100%;
}

.expert_section .box .img-box img {
  width: 100%;
}

.expert_section .box .detail-box {
  width: 100%;
  color: #ffffff;
  padding: 25px 15px;
}

.expert_section .box .detail-box a {
  color: inherit;
  font-size: 18px;
}

.expert_section .box .detail-box .expert_position {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
}

.expert_section .box .detail-box .expert_rating {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.expert_section .box .detail-box p {
  margin-bottom: 0;
}

.expert_section .btn-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.expert_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #0c0c0c;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  border: 1px solid #0c0c0c;
  outline: none;
}

.expert_section .btn-box a:hover {
  background-color: transparent;
  color: #0c0c0c;
}

/* blog section end */
.blog_section .box {
  padding-bottom: 25px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  margin-top: 45px;
}

.blog_section .box .date_box {
  position: absolute;
  top: 0;
  left: 25px;
  padding: 20px;
  background-color: #0c0c0c;
}

.blog_section .box .date_box h5 {
  margin: 0;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 300;
  font-size: 20px;
}

.blog_section .box .img-box img {
  width: 100%;
}

.blog_section .box .detail-box {
  margin-top: 25px;
  padding: 0 25px;
}

.blog_section .box .detail-box .blog_info {
  margin-top: 15px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog_section .box .detail-box .blog_info a {
  color: #50504f;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  margin: 0;
  margin-right: 25px;
}

.blog_section .box .detail-box .blog_info a span {
  margin-right: 5px;
}

.blog_section .box .detail-box .blog_info a i {
  font-size: 20px;
}

.blog_section .box .detail-box .blog_info a:hover {
  color: #e41a2b;
}

.blog_section .box .detail-box .blog_text h4 {
  font-weight: bold;
}

.blog_section .box .detail-box .blog_text p {
  color: #555555;
  font-size: 15px;
  margin-top: 10px;
}

.blog_section .box .detail-box a.blog_btn {
  color: #e41a2b;
}

/* blog section end */
.info_section {
  background-color: #0c0c0c;
  color: #ffffff;
  padding: 65px 0 45px 0;
}

.info_section h4 {
  font-weight: bold;
  margin-bottom: 20px;
}

.info_section .info_links ul {
  padding-left: 15px;
}



.info_section .info_links ul li {
  list-style-type: none;
  position: relative;
}

.info_section .info_links ul li::before {
  content: "";
  left: -15px;
  top: 50%;
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

.info_section .info_links ul li a {
  color: #ffffff;
}

.info_section .info_links ul li:hover::before {
  background-color: #dfb15b;
}

.info_section .info_form input {
  width: 100%;
  border: none;
  height: 45px;
  margin-bottom: 15px;
  padding-left: 15px;
  background-color: #eaeaea;
  outline: none;
  color: #101010;
}

.info_section .info_form button {
  display: inline-block;
  padding: 10px 45px;
  background-color: #dfb15b;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  border: 1px solid #dfb15b;
  outline: none;
}

.info_section .info_form button:hover {
  background-color: transparent;
  color: #ffffff;
}

.info_section .info_social .social_container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.info_section .info_social .social_container a {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border-radius: 100%;
  margin: 0 5px;
  color:  #dfb15b;
  font-size: 16px;
}

.info_section .info_social .social_container a:hover {
  color: #e41a2b;
}

/* footer section*/
.footer_section {
  position: relative;
  background-color: #0c0c0c;
  text-align: center;
  height: 100%;
}

.footer_section p {
  border-top: 1px solid  #dfb15b;
  color:  #dfb15b;
  padding: 25px 0;
  margin: 0;
}

.footer_section p a {
  color: inherit;
}




.all-productos
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;	
}

.producto
{
	overflow: hidden;
	background: #ffff;
	width: 400px;
	height: 580px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 0.8rem;
	margin: 1rem;
}

.producto:hover img
{
	scale: 1.1;
	border-style: solid;
}


.producto img
{
	height:  3600px;
	transition: all 0.3s;
}


.contenedort
{
	display: flex; justify-content: center; align-items: center;
	color: black;
	font-size: 2rem ;
}

.contenedorst
{
	display: flex; justify-content: center; align-items: center;
	color: black;
	font-size: 2rem ;
}


ul > li
{
  list-style:none;
}


.xd
{
  width: 210vh;
  height: 100vh;
  background-image: url(/images/Black\ Gold\ Luxury\ Diamond\ Logo.svg);
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -90;
	margin-left: -1%;
	margin-right: -2%;
}

@media (max-width: 720px )
{
  .xd
{
  width: 50vh;
  height: 70vh;
  background-image: url(/images/Black\ Gold\ Luxury\ Diamond\ Logo.svg);
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -90;
	margin-left: -1%;
	margin-right: -2%;
}
} 


/*# sourceMappingURL=style.css.map */